<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Idiomas</h2>
    <ol class="breadcrumb">
      <li>
        Inicio
      </li>
      <li class="active">
        <strong>Idiomas</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="toolbar">
  <div class="toolbar-content">
    <div class="icon-advise"><i class="fa fa-arrow-right swinging"></i></div>
    <div class="btn btn-primary" (click)="null"><i class="fa fa-plus"></i> Añadir idioma</div>
  </div>
</div>
