<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Resumen y datos personales</h2>
    <ol class="breadcrumb">
      <li>
        Inicio
      </li>
      <li class="active">
        <strong>Datos personales</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" *ngIf="userData">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
      <div class="profile-image">
        <img src="assets/images/user.png" class="img-circle circle-border m-b-md" alt="profile" *ngIf="userData.picture.length == 0">
        <img [src]="userData.picture" class="m-b-md" alt="profile" *ngIf="userData.picture.length > 0">
        <div class="change-image" (click)="openFileLoader()">
          <i class="fa fa-pencil"></i>
        </div>
        <input id="fileloader" type="file" style="display: none;" (change)="loadImage($event)" accept=".jpeg, .jpg" />
      </div>
      <div class="profile-info" >
        <div class="">
          <div>
            <h2 class="no-margin-top">
              {{ userData.name + ' ' + userData.surname }}
            </h2>
            <h4>{{ userData.address }} - {{ userData.city }}</h4>
            <h4>{{ getBirthDate() }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content inspinia-timeline">
          <h3>Tu formación</h3>
          <hr>

          <div class="alert alert-danger" role="alert" *ngIf="trainings.length == 0">
            <h4 class="alert-heading">No has configurado tu formación</h4>
            <p>Dirígete al apartado de "Formación" para introducir los datos de la formación que has recibido.</p>
          </div>

          <div class="timeline-item" *ngFor="let training of trainings">
            <div class="row">
              <div class="col-xs-2 promotion">
                <i class="fa fa-graduation-cap"></i>
                {{ training.promotion }}
              </div>
              <div class="col-xs-10 content no-top-border">
                <p class="m-b-xs"><strong>{{ training.qualification }}</strong></p>
                <p>{{ training.center }} <br/><small>{{ training.city }}</small></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h3>Experiencia profesional</h3>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h3>Idiomas</h3>

        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h3>Habilidades</h3>

        </div>
      </div>
    </div>
  </div>
</div>
