.papersheet {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  box-shadow: 2px 2px 2px #ccc;
}
h2 {
  margin-top: 0;
}
.themed {
  color: #1AB394;
}
.userpicture {
  height: 128px;
}
.heading-line {
  border-bottom: 2px solid #1AB394;
  overflow: hidden;

  .right-square {
    float: right;
    background-color: #1AB394;
    width: 20px;
    height: 20px;
  }
}
