<div class="container papersheet animated fadeInDown" *ngIf="curriculum">
  <!-- Cabecera -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      Europass
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ralign">
      Powered by
    </div>
  </div>

  <!-- Información personal -->
  <div class="row m-t-md">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>Información personal</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 border-left">
      <h2>{{ curriculum.user.name + ' ' + curriculum.user.surname }}</h2>
      <h5><i class="fa fa-map-marker"></i> {{ curriculum.user.address }}</h5>
      <h5><i class="fa fa-phone"></i> "CAGO EN TO"</h5>
      <h5><i class="fa fa-envelope"></i> {{ curriculum.user.email }}</h5>

    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="col-md-6">
      Luis M. Barquillo Romero - Proyecto Fin de Grado
    </div>
    <div class="col-md-6 text-right">
      <small>DAW 2018-2019</small>
    </div>
  </div>
</div>
