<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Habilidades</h2>
    <ol class="breadcrumb">
      <li>
        Inicio
      </li>
      <li class="active">
        <strong>Habilidades</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="light-timeline no-margins">
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon navy-bg">
            <i class="fa fa-laptop"></i>
          </div>
          <div class="vertical-timeline-content">
            <h2>Competencias digitales</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4>Tratamiento de la información:</h4>
                <p>Nivel {{ digitalSkills?.processing.grade }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4>Comunicación:</h4>
                <p>Nivel {{ digitalSkills?.communication.grade }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4>Creación de contenidos:</h4>
                <p>Nivel {{ digitalSkills?.contents.grade }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4>Seguridad:</h4>
                <p>Nivel {{ digitalSkills?.safety.grade }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <h4>Resolución de problemas:</h4>
                <p>Nivel {{ digitalSkills?.solving.grade }}</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <button class="btn btn-sm btn-success" (click)="editDigitalSkills()"><i class="fa fa-pencil"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="toolbar">
  <div class="row m-0">
    <div class="col-lg-12">
      <h3>Otras habilidades</h3>
    </div>
  </div>

  <div class="toolbar-content">
    <div class="icon-advise" *ngIf="otherSkills?.length == 0"><i class="fa fa-arrow-right swinging"></i></div>
    <div class="btn btn-primary" (click)="addSkill()"><i class="fa fa-plus"></i> Añadir habilidad</div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12" *ngIf="otherSkills?.length == 0">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No has añadido habilidades</h4>
        <p>¿Seguro que no tienes habilidades? Añade algunas para dar más valor a tu curriculum.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let skill of otherSkills">
      <div class="light-timeline no-margins">
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon navy-bg">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="vertical-timeline-content">
            <h2>{{ skill.skill }}</h2>
            <button class="btn btn-sm btn-danger" (click)="deleteSkill(skill)"><i class="fa fa-times"></i></button>
            <button class="btn btn-sm btn-success" (click)="editSkill(skill)"><i class="fa fa-pencil"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="digitalSkillsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-button" (click)="digitalSkillsModal = false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <div class="modal-header">
        <h3 class="modal-title">Editar habilidades digitales</h3>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="digitalSkillGroup">
          <div class="form-group">
            <label>Tratamiento de la información: <em>*</em></label>
            <select class="form-control" formControlName="processing">
              <option *ngFor="let item of skillGrades" [value]="item.id" [selected]="item.id == digitalSkills.processing.id">{{ item.grade }}</option>
            </select>
            <label>Comunicación: <em>*</em></label>
            <select class="form-control" formControlName="communication">
              <option *ngFor="let item of skillGrades" [value]="item.id" [selected]="item.id == digitalSkills.communication.id">{{ item.grade }}</option>
            </select>
            <label>Creación de contenidos: <em>*</em></label>
            <select class="form-control" formControlName="contents">
              <option *ngFor="let item of skillGrades" [value]="item.id" [selected]="item.id == digitalSkills.contents.id">{{ item.grade }}</option>
            </select>
            <label>Seguridad: <em>*</em></label>
            <select class="form-control" formControlName="safety">
              <option *ngFor="let item of skillGrades" [value]="item.id" [selected]="item.id == digitalSkills.safety.id">{{ item.grade }}</option>
            </select>
            <label>Resolución de problemas: <em>*</em></label>
            <select class="form-control" formControlName="solving">
              <option *ngFor="let item of skillGrades" [value]="item.id" [selected]="item.id == digitalSkills.solving.id">{{ item.grade }}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!digitalSkillGroup.valid" (click)="saveDigitalSkills()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="skillModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="close-button" (click)="skillModal = false">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <div class="modal-header">
        <h3 class="modal-title">Editar habilidad</h3>
      </div>
      <div class="modal-body">
        <form role="form" [formGroup]="skillGroup">
          <div class="form-group">
            <label>Describe tu habilidad: <em>*</em></label>
            <textarea class="form-control no-resize" formControlName="skill" placeholder="ej. 'Facilidad de aprendizaje'" rows="4"
                      [ngClass]="{'invalid':!skillGroup.controls['skill'].valid}"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!skillGroup.valid" (click)="saveSkill()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

